.off {
  display: none;
}

.remove-scrolling {
  overflow: hidden;
}

.button {
  border: 0;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0.1rem 0.2rem 0 rgba(60, 64, 67, 0.3),
      0 0.1rem 0.3rem 0.1rem rgba(60, 64, 67, 0.15);
    opacity: 89%;
    transition: box-shadow 0.2s;
    transition: all 0.2s;
  }
}

.button-play {
  background: #2ecc71;
  border: 0.2rem solid #27ae60;
  color: #f5f6fa;
  font-size: 1rem;
  transition: all 0.2s;
}

.button-params {
  height: 4rem;
  width: 4rem;
  border-radius: 0.3rem;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.button-params:hover {
  opacity: 89%;
  transition: all 0.2s;
}

.button-params img {
  height: 3rem;
  width: 3rem;
  border-radius: 2.5rem;
}
