footer {
  min-height: 5rem;
  width: 41.5rem;
  margin-top: -0.3rem;
  background-color: #7f8c8d;
  color: #f5f6fa;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

img {
  height: 1rem;
  width: 1rem;
  margin-bottom: -0.1rem;
}

.j {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

.e {
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}
