header {
  background-color: #2ecc71;
  min-height: 5rem;
  width: 41.5rem;
  display: flex;
  align-items: center;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 1rem;
  padding: 0.6rem;
  margin-top: 0.2rem;
  color: #f5f6fa;
}

.container-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background: #005c01;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.score-number {
  color: #f5f6fa;
  font-size: 1.6rem;
}
