header {
  background-color: #2ecc71;
  min-height: 80px;
  width: 680px;
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 15px;
  margin-left: 10px;
  color: #f5f6fa;
}

#container-header-fruit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  padding: 2px 5px 0 5px;
  background-color: #005c01;
}

#number-header-fruit {
  color: #f5f6fa;
  font-size: 30px;
  margin: 5px 5px 0px 5px;
}
